<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="defaultStatementTimeout" value="25000" />
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	<!-- 配置别名 -->
	<typeAliases>
		<!-- 类型别名 -->
		<typeAlias alias="String" type="java.lang.String" />
		<typeAlias alias="Integer" type="java.lang.Integer" />

		<!-- API实体别名 -->
		<typeAlias alias="User" type="com.qx.ar.modle.User" />
		<typeAlias alias="Suggestion" type="com.qx.ar.modle.Suggestion" />
		<typeAlias alias="Help" type="com.qx.ar.modle.Help" />
		<typeAlias alias="Album" type="com.qx.ar.modle.Album" />
		<typeAlias alias="Article" type="com.qx.ar.modle.Article" />
		<typeAlias alias="Find" type="com.qx.ar.modle.Find" />
		<typeAlias alias="FindType" type="com.qx.ar.modle.FindType" />
		<typeAlias alias="Comment" type="com.qx.ar.modle.Comment" />
		<typeAlias alias="UserComment" type="com.qx.ar.modle.UserComment" />
		<typeAlias alias="Resources" type="com.qx.ar.modle.Resources" />
		<typeAlias alias="Admin" type="com.qx.ar.modle.Admin" />
		<typeAlias alias="Company" type="com.qx.ar.modle.Company" />
		<typeAlias alias="ResourcesInner" type="com.qx.ar.modle.ResourcesInner" />
	</typeAliases>


</configuration>
