.no_decration{text-decoration:none;color:#ffffff;}
.no_decration :hover{text-decoration:none;color: inherit;}
.submit_cancle{width: 50%; margin: 10px auto;}
.submit_cancle button{width:120px;}
.form-group-right{float: left; margin-left: 15px; text-align: center; width: 200px; padding-top: 40px;}